@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
@media (max-width: 375px) {
  body main .about-container {
    background-image: url("../html/images/About/backgroundAbout-container.jpg");
    width: 100%;
    height: auto;
    align-content: center;
    height: 10rem;
    margin-top: 4rem;
  }
  body main .about-container__h1 {
    font-family: "Space Mono", monospace;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -2.5px;
    color: rgb(242, 245, 249);
    width: 100%;
    height: auto;
    top: 7.75rem;
    left: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -1.79px;
    text-align: center;
  }
  body main .advantages-container {
    margin-top: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
  }
  body main .advantages-container__card--img1 {
    width: 19.4rem;
    height: auto;
  }
  body main .advantages-container__card--img2 {
    width: 19.4rem;
    height: auto;
  }
  body main .advantages-container__card--img-arrow-1 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 130px;
    left: 16px;
    border: 1.9rem;
  }
  body main .advantages-container__card--img-arrow-2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 542px;
    left: -16px;
    border: 1.9rem;
  }
  body main .advantages-container__card--h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: #495567;
    top: 41.4rem;
    left: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -1.43px;
  }
  body main .advantages-container__card--p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: #939CAA;
    top: 47.4rem;
    left: 2rem;
  }
  body main .ours-values-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
  }
  body main .ours-values-container__h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: #495567;
    top: 41.4rem;
    left: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -1.43px;
  }
  body main .ours-values-container__card--img-1 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .ours-values-container__card--img-2 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .ours-values-container__card--img-3 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .ours-values-container__card--img-01 {
    position: absolute;
    width: 6rem;
    height: auto;
    top: 1683px;
    left: 140px;
    border: 1.9rem;
    align-items: center;
  }
  body main .ours-values-container__card--img-02 {
    position: absolute;
    width: 6rem;
    height: auto;
    top: 2105px;
    left: 140px;
    border: 1.9rem;
    align-items: center;
  }
  body main .ours-values-container__card--img-03 {
    position: absolute;
    margin-top: 180px;
    width: 6rem;
    height: auto;
    left: 140px;
    border: 1.9rem;
    align-items: center;
  }
  body main .ours-values-container__card--h4 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -1.07px;
    color: #495567;
    text-align: center;
  }
  body main .ours-values-container__card--p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: #939CAA;
  }
  body main .FAQ-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
  }
  body main .FAQ-container__h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: #495567;
    top: 41.4rem;
    left: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -1.43px;
    text-align: center;
  }
  body main .FAQ-container__h4 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -1.07px;
    color: #495567;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
