@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
* {
  max-width: 2100px;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  padding-left: 12%;
  padding-right: 12%;
}
.nav-container__hamburger {
  display: none;
}
.nav-container__h1 {
  text-decoration: none;
  text-align: left;
  font-family: "Space Mono", monospace;
  font-size: 32px;
  padding-right: 20px;
  cursor: pointer;
}
.nav-container__h1 :link,
.nav-container__h1 :visited {
  display: block;
  text-decoration: none;
  color: rgb(73, 85, 103);
}
.nav-container__pages {
  padding-top: 5px;
  gap: 15px;
  display: flex;
  flex-direction: row;
}
.nav-container__pages a,
.nav-container__pages a:link,
.nav-container__pages a:visited {
  display: block;
  color: rgb(147, 156, 170);
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
}
.nav-container__pages a:hover,
.nav-container__pages a:link:hover,
.nav-container__pages a:visited:hover {
  color: rgb(252, 183, 43);
}
.nav-container__button {
  margin-left: auto;
  padding: 10px 24px 10px 24px;
  font-size: 10px;
  background-color: rgb(252, 183, 43);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(252, 183, 43);
  color: rgb(242, 245, 249);
  cursor: pointer;
}
.nav-container__button:hover {
  background-color: white;
  color: rgb(252, 183, 43);
}
@media (max-width: 375px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
  }
  .nav-container__hamburger {
    display: block;
    color: rgb(252, 183, 43);
    padding-top: 5px;
    font-weight: 700;
    cursor: pointer;
  }
  .nav-container__h1 {
    font-size: 24px;
    cursor: pointer;
    margin: 0 auto;
    justify-content: center;
  }
  .nav-container__pages, .nav-container__button {
    display: none;
  }
}

@media (max-width: 375px) {
  body main .scooter-sharing-container {
    background-image: url("../html/images/Home/backgroundHomeContainer.jpg");
    width: 100%;
    height: auto;
    align-content: center;
    height: 10rem;
  }
  body main .scooter-sharing-container__h1 {
    font-family: "Space Mono", monospace;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -2.5px;
    color: rgb(242, 245, 249);
    width: 100%;
    height: auto;
    top: 7.75rem;
    left: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -1.79px;
    text-align: center;
  }
  body main .advantages-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    position: relative;
    text-align: center;
  }
  body main .advantages-container__card--img1 {
    width: 19.4rem;
    height: auto;
  }
  body main .advantages-container__card--img2 {
    width: 19.4rem;
    height: auto;
  }
  body main .advantages-container__card--img-arrow-1 {
    position: absolute;
    width: 95%;
    height: auto;
    margin-top: 128px;
    margin-left: -318px;
    border: 1.9rem;
  }
  body main .advantages-container__card--img-arrow-2 {
    position: absolute;
    width: 95%;
    height: auto;
    margin-top: -5px;
    margin-left: -338px;
    border: 1.9rem;
  }
  body main .advantages-container__card--h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: rgb(73, 85, 103);
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  body main .advantages-container__card--p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(147, 156, 170);
    margin-bottom: 7.5rem;
  }
}
.section-container {
  background-color: rgb(73, 85, 103);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.section-container__card {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  justify-content: flex-start;
  padding-left: 12%;
  padding-right: 12%;
}
.section-container__card--h5 {
  font-size: 28px;
  color: white;
  word-break: break-word;
  flex-grow: 1;
}
.section-container__card--h5 span {
  word-break: break-word;
  display: block;
}
.section-container__card--social {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 15px;
}
.section-container__card--social .GooglePlay,
.section-container__card--social .AppStore {
  color: rgb(73, 85, 103);
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(229, 236, 244);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  height: 75%;
}
.section-container__card--social .GooglePlay img,
.section-container__card--social .AppStore img {
  height: 28px;
  width: 24px;
}
.section-container__card--social .GooglePlay p,
.section-container__card--social .AppStore p {
  font-size: 8px;
}
.section-container__card--social .GooglePlay p span,
.section-container__card--social .AppStore p span {
  word-break: break-word;
  font-size: 16px;
  display: block;
}
@media (max-width: 768px) {
  .section-container__card {
    flex-direction: column;
    align-items: center;
  }
  .section-container__card--h5 {
    text-align: center;
    color: white;
  }
  .section-container__card--social {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .section-container__card .GooglePlay,
  .section-container__card .AppStore {
    padding: 6px;
    font-size: 12px;
    min-width: 120px;
  }
}
@media (max-width: 375px) {
  .section-container__card {
    flex-direction: column;
    align-items: center;
  }
  .section-container__card--h5 {
    text-align: center;
    font-size: 20px;
    color: white;
  }
  .section-container__card--social {
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px 0;
  }
  .section-container__card .GooglePlay,
  .section-container__card .AppStore {
    padding: 6px;
    font-size: 12px;
    min-width: 120px;
  }
  .section-container__card .GooglePlay img,
  .section-container__card .AppStore img {
    height: 24px;
    width: 20px;
  }
}

.container-footer {
  padding: 20px;
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: row;
  background-color: rgb(51, 58, 68);
  padding-left: 12%;
  padding-right: 12%;
  justify-content: flex-start;
  height: auto;
  width: auto;
}
.container-footer__h6 {
  font-size: 28px;
  color: white;
  padding-right: 20px;
}
.container-footer__ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}
.container-footer__ul li {
  list-style-type: none;
}
.container-footer__ul li a,
.container-footer__ul li a:link,
.container-footer__ul li a:visited {
  display: block;
  color: rgb(147, 156, 170);
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
}
.container-footer__ul li a:hover,
.container-footer__ul li a:link:hover,
.container-footer__ul li a:visited:hover {
  color: rgb(252, 183, 43);
}
.container-footer__socialNetwork {
  padding-top: 2px;
  margin-left: auto;
}
.container-footer__socialNetwork a {
  margin-right: 10px;
  transition: filter 0.3s ease;
}
.container-footer__socialNetwork a img {
  width: auto;
  height: auto;
}
.container-footer__socialNetwork a:hover img {
  filter: grayscale(100%);
}
@media (max-width: 375px) {
  .container-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-footer__h6 {
    text-align: center;
    padding-right: 0;
  }
  .container-footer__ul {
    text-align: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .container-footer__socialNetwork {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  body main .about-container {
    background-image: url("../html/images/About/backgroundAbout-container.jpg");
    width: 100%;
    height: auto;
    align-content: center;
    height: 10rem;
  }
  body main .about-container__h1 {
    font-family: "Space Mono", monospace;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -2.5px;
    color: rgb(242, 245, 249);
    width: 100%;
    height: auto;
    top: 7.75rem;
    left: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -1.79px;
    text-align: center;
  }
  body main .advantages-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    position: relative;
    text-align: center;
  }
  body main .advantages-container__card--img1 {
    width: 19.4rem;
    height: auto;
  }
  body main .advantages-container__card--img2 {
    width: 19.4rem;
    height: auto;
  }
  body main .advantages-container__card--img-arrow-1 {
    position: absolute;
    width: 95%;
    height: auto;
    margin-top: 128px;
    margin-left: -318px;
    border: 1.9rem;
  }
  body main .advantages-container__card--img-arrow-2 {
    position: absolute;
    width: 95%;
    height: auto;
    margin-top: -5px;
    margin-left: -338px;
    border: 1.9rem;
  }
  body main .advantages-container__card--h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: rgb(73, 85, 103);
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  body main .advantages-container__card--p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(147, 156, 170);
    margin-bottom: 7.5rem;
  }
  body main .ours-values-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
  }
  body main .ours-values-container__h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: rgb(73, 85, 103);
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -1.43px;
  }
  body main .ours-values-container__card--img-1 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .ours-values-container__card--img-2 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .ours-values-container__card--img-3 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .ours-values-container__card--number-01 {
    position: absolute;
    width: 6rem;
    height: auto;
    margin-top: 180px;
    margin-left: -170px;
    border: 1.9rem;
  }
  body main .ours-values-container__card--number-02 {
    position: absolute;
    width: 6rem;
    height: auto;
    margin-top: 180px;
    margin-left: -170px;
    border: 1.9rem;
  }
  body main .ours-values-container__card--number-03 {
    position: absolute;
    width: 6rem;
    height: auto;
    margin-top: 180px;
    margin-left: -170px;
    border: 1.9rem;
  }
  body main .ours-values-container__card--h4 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    margin-top: 3rem;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -1.07px;
    color: rgb(73, 85, 103);
    margin-bottom: 1rem;
  }
  body main .ours-values-container__card--p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(147, 156, 170);
    margin-bottom: 2rem;
  }
  body main .FAQ-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
  }
  body main .FAQ-container__h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: rgb(73, 85, 103);
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  body main .FAQ-container__h4 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    margin-top: 3rem;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -1.07px;
    color: rgb(73, 85, 103);
    text-align: center;
  }
  body main .FAQ-container__details {
    background-color: rgb(229, 236, 244);
    margin: 1rem;
    padding: 2rem;
  }
  body main .FAQ-container__details--summary {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.8px;
    color: rgb(73, 85, 103);
    list-style-image: url("../html/images/About/arrow-faq-close.svg");
    list-style-position: outside;
  }
  body main .FAQ-container__details--[open] summary {
    list-style-image: url("../html/images/About/arrow-faq-open.svg");
    list-style-position: outside;
  }
  body main .FAQ-container__details--p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(147, 156, 170);
    text-align: left;
  }
}
@media (max-width: 375px) {
  body main {
    margin-bottom: 7.5rem;
  }
  body main .careersTitle-container {
    background-image: url("../html/images/Careers/CareerHeaderBackground.jpg");
    width: 100%;
    height: auto;
    align-content: center;
    height: 10rem;
  }
  body main .careersTitle-container__h1 {
    font-family: "Space Mono", monospace;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -2.5px;
    color: rgb(242, 245, 249);
    width: 100%;
    height: auto;
    top: 7.75rem;
    left: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -1.79px;
    text-align: center;
  }
  body main .SayHello-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    position: relative;
    text-align: center;
  }
  body main .SayHello-container__card--img {
    width: 19.4rem;
    height: auto;
  }
  body main .SayHello-container__card--img-arrow-3 {
    position: absolute;
    width: 95%;
    height: auto;
    margin-top: 165px;
    margin-left: -318px;
    border: 1.9rem;
    position: absolute;
  }
  body main .SayHello-container__card--h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: rgb(73, 85, 103);
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  body main .SayHello-container__card--p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(147, 156, 170);
    margin-bottom: 7.5rem;
  }
  body main .SayHello-container__card--button {
    padding: 1rem 3rem 1rem 3rem;
    font-family: "Space Mono", monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    background-color: rgb(252, 183, 43);
    color: rgb(242, 245, 249);
  }
  body main .joinUs-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
  }
  body main .joinUs-container__h3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 3rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -1.43px;
    color: rgb(73, 85, 103);
    margin-top: 7.5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -1.43px;
  }
  body main .joinUs-container__card--img-1 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .joinUs-container__card--img-2 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .joinUs-container__card--img-3 {
    width: 15rem;
    height: auto;
    align-content: center;
  }
  body main .joinUs-container__card--number-01 {
    position: absolute;
    width: 6rem;
    height: auto;
    margin-top: 180px;
    margin-left: -170px;
    border: 1.9rem;
  }
  body main .joinUs-container__card--number-02 {
    position: absolute;
    width: 6rem;
    height: auto;
    margin-top: 180px;
    margin-left: -170px;
    border: 1.9rem;
  }
  body main .joinUs-container__card--number-03 {
    position: absolute;
    width: 6rem;
    height: auto;
    margin-top: 180px;
    margin-left: -170px;
    border: 1.9rem;
  }
  body main .joinUs-container__card--h4 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    margin-top: 3rem;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -1.07px;
    color: rgb(73, 85, 103);
    margin-bottom: 1rem;
  }
  body main .joinUs-container__card--p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(147, 156, 170);
    margin-bottom: 2rem;
  }
  body main .apply-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
  }
  body main .apply-container__card {
    background: #F2F5F9;
    margin: 0 2rem 1rem 2rem;
  }
  body main .apply-container__card--button {
    padding: 1rem 3rem 1rem 3rem;
    font-family: "Space Mono", monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    background-color: rgb(252, 183, 43);
    color: rgb(242, 245, 249);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  body main .apply-container__h4 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    margin-top: 3rem;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -1.07px;
    color: rgb(73, 85, 103);
    margin-top: 2.25rem;
    margin-bottom: 4px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.8px;
  }
  body main .apply-container__p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(147, 156, 170);
    margin-bottom: 1rem;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  flex-grow: 1;
}
body main .locations {
  text-align: left;
  height: 200px;
  font-weight: 700;
  font-size: 60px;
  font-family: "Space Mono", monospace;
  background-image: url("/html/images/Locations/backgroundLocationsTitle.jpg");
  color: rgb(242, 245, 249);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 12%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 375px) {
  body main .locations {
    padding: 0;
    font-family: "Space Mono", monospace;
    color: rgb(242, 245, 249);
    background-image: url("/html/images/Locations/backgroundLocationsTitle.jpg");
    height: 160px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
body main .worldmap-container {
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 5%;
  padding-top: 10%;
  width: 100%;
}
body main .worldmap-container__card {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
body main .worldmap-container__card--imgForMobile {
  display: none;
}
body main .worldmap-container__card--imgForTabletAndDesktop {
  width: 100%;
}
body main .worldmap-container__card--list {
  display: none;
}
@media (max-width: 375px) {
  body main .worldmap-container {
    padding: 20px;
  }
  body main .worldmap-container__card {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 22px;
    color: rgb(73, 85, 103);
    padding-bottom: 20px;
  }
  body main .worldmap-container__card--imgForMobile {
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  body main .worldmap-container__card--imgForTabletAndDesktop {
    display: none;
  }
  body main .worldmap-container__card--list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  body main .worldmap-container__card--list li {
    width: 100%;
    white-space: nowrap;
    list-style-type: none;
    text-align: center;
    padding: 15px;
    background-color: rgb(255, 244, 223);
  }
}
body main .cityNot-container {
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
}
body main .cityNot-container__card {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  gap: 50px;
}
body main .cityNot-container__card--h3 {
  width: auto;
  height: 27%;
  text-align: center;
  font-size: 3rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -1.43px;
  color: rgb(73, 85, 103);
}
body main .cityNot-container__card--p {
  width: auto;
  height: 27%;
  text-align: left;
  font-size: 14px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgb(147, 156, 170);
}
body main .cityNot-container__card--button {
  align-items: center;
  font-family: "Space Mono", monospace;
  padding: 10px 40px 10px 40px;
  font-weight: 700;
  font-size: 12px;
  background-color: rgb(252, 183, 43);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(252, 183, 43);
  color: rgb(242, 245, 249);
  white-space: nowrap;
  cursor: pointer;
}
body main .cityNot-container__card--button:hover {
  background-color: white;
  color: rgb(252, 183, 43);
}
@media (max-width: 768px) {
  body main .cityNot-container__card {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  body main .cityNot-container {
    padding: 20px;
  }
  body main .cityNot-container__card {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  body main .cityNot-container__card--h3 {
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 2rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -1.43px;
    color: rgb(73, 85, 103);
    padding-bottom: 20px;
  }
  body main .cityNot-container__card--p {
    width: auto;
    height: 27%;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(147, 156, 170);
    padding-bottom: 20px;
  }
  body main .cityNot-container__card--button {
    align-items: center;
    font-family: "Space Mono", monospace;
    padding: 10px 34px 10px 34px;
    font-weight: 700;
    font-size: 12px;
    background-color: rgb(252, 183, 43);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(252, 183, 43);
    color: rgb(242, 245, 249);
    cursor: pointer;
  }
  body main .cityNot-container__card--button:hover {
    background-color: white;
    color: rgb(252, 183, 43);
  }
}

/*# sourceMappingURL=style.css.map */
