@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
* {
  max-width: 2100px;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  padding-left: 12%;
  padding-right: 12%;
}
.nav-container__hamburger {
  display: none;
}
.nav-container__h1 {
  text-decoration: none;
  text-align: left;
  font-family: "Space Mono", monospace;
  font-size: 32px;
  padding-right: 20px;
  cursor: pointer;
}
.nav-container__h1 :link,
.nav-container__h1 :visited {
  display: block;
  text-decoration: none;
  color: rgb(73, 85, 103);
}
.nav-container__pages {
  padding-top: 5px;
  gap: 15px;
  display: flex;
  flex-direction: row;
}
.nav-container__pages a,
.nav-container__pages a:link,
.nav-container__pages a:visited {
  display: block;
  color: rgb(147, 156, 170);
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
}
.nav-container__pages a:hover,
.nav-container__pages a:link:hover,
.nav-container__pages a:visited:hover {
  color: rgb(252, 183, 43);
}
.nav-container__button {
  margin-left: auto;
  padding: 10px 24px 10px 24px;
  font-size: 10px;
  background-color: rgb(252, 183, 43);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(252, 183, 43);
  color: rgb(242, 245, 249);
  cursor: pointer;
}
.nav-container__button:hover {
  background-color: white;
  color: rgb(252, 183, 43);
}
@media (max-width: 375px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
  }
  .nav-container__hamburger {
    display: block;
    color: rgb(252, 183, 43);
    padding-top: 5px;
    font-weight: 700;
    cursor: pointer;
  }
  .nav-container__h1 {
    font-size: 24px;
    cursor: pointer;
    margin: 0 auto;
    justify-content: center;
  }
  .nav-container__pages, .nav-container__button {
    display: none;
  }
}

.section-container {
  background-color: rgb(73, 85, 103);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.section-container__card {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  justify-content: flex-start;
  padding-left: 12%;
  padding-right: 12%;
}
.section-container__card--h5 {
  font-size: 28px;
  color: white;
  word-break: break-word;
  flex-grow: 1;
}
.section-container__card--h5 span {
  word-break: break-word;
  display: block;
}
.section-container__card--social {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 15px;
}
.section-container__card--social .GooglePlay,
.section-container__card--social .AppStore {
  color: rgb(73, 85, 103);
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(229, 236, 244);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  height: 75%;
}
.section-container__card--social .GooglePlay img,
.section-container__card--social .AppStore img {
  height: 28px;
  width: 24px;
}
.section-container__card--social .GooglePlay p,
.section-container__card--social .AppStore p {
  font-size: 8px;
}
.section-container__card--social .GooglePlay p span,
.section-container__card--social .AppStore p span {
  word-break: break-word;
  font-size: 16px;
  display: block;
}
@media (max-width: 768px) {
  .section-container__card {
    flex-direction: column;
    align-items: center;
  }
  .section-container__card--h5 {
    text-align: center;
    color: white;
  }
  .section-container__card--social {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .section-container__card .GooglePlay,
  .section-container__card .AppStore {
    padding: 6px;
    font-size: 12px;
    min-width: 120px;
  }
}
@media (max-width: 375px) {
  .section-container__card {
    flex-direction: column;
    align-items: center;
  }
  .section-container__card--h5 {
    text-align: center;
    font-size: 20px;
    color: white;
  }
  .section-container__card--social {
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px 0;
  }
  .section-container__card .GooglePlay,
  .section-container__card .AppStore {
    padding: 6px;
    font-size: 12px;
    min-width: 120px;
  }
  .section-container__card .GooglePlay img,
  .section-container__card .AppStore img {
    height: 24px;
    width: 20px;
  }
}

.container-footer {
  padding: 20px;
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: row;
  background-color: rgb(51, 58, 68);
  padding-left: 12%;
  padding-right: 12%;
  justify-content: flex-start;
}
.container-footer__h6 {
  font-size: 28px;
  color: white;
  padding-right: 20px;
}
.container-footer__ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}
.container-footer__ul li {
  list-style-type: none;
}
.container-footer__ul li a,
.container-footer__ul li a:link,
.container-footer__ul li a:visited {
  display: block;
  color: rgb(147, 156, 170);
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
}
.container-footer__ul li a:hover,
.container-footer__ul li a:link:hover,
.container-footer__ul li a:visited:hover {
  color: rgb(252, 183, 43);
}
.container-footer__socialNetwork {
  padding-top: 2px;
  margin-left: auto;
}
.container-footer__socialNetwork a {
  margin-right: 10px;
  transition: filter 0.3s ease;
}
.container-footer__socialNetwork a img {
  width: auto;
  height: auto;
}
.container-footer__socialNetwork a:hover img {
  filter: grayscale(100%);
}
@media (max-width: 375px) {
  .container-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-footer__h6 {
    text-align: center;
    padding-right: 0;
  }
  .container-footer__ul {
    text-align: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .container-footer__socialNetwork {
    text-align: center;
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
