@use "variables";
@media (max-width: variables.$mobile-display) {
body {
  main {
    .about-container {
      background-image: url("../html/images/About/backgroundAbout-container.jpg");
      @include variables.about-container;
      height: 10rem;
      margin-top: 4rem;
      &__h1 {
      @include variables.h1;
        width: 100%;
        height: auto;
        top: 7.75rem;
        left: 2rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: -1.79px;
        text-align: center;
        }
      }
    .advantages-container {
      margin-top: 4rem;
      @include variables.advantages-container;
      &__card {
        &--img1{
          @include variables.img1;
        }
        &--img2{
          @include variables.img1;
        }
        &--img-arrow-1{
          @include variables.img-arrow-1;
        }
        &--img-arrow-2{
          @include variables.img-arrow-2;
        }
      }
      &__card--h3 {
        @include variables.h3;
        top: 41.4rem;
        left: 2rem;
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -1.43px;
      }
      &__card--p {
        @include variables.p;
        top: 47.4rem;
        left: 2rem;
      }

    }
    .ours-values-container {
      @include variables.ours-values-container;
      &__h3 {
        @include variables.h3;
        top: 41.4rem;
        left: 2rem;
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -1.43px;
      }
      &__card {
        &--img-1{
          @include variables.img-1;
        }
        &--img-2{
          @include variables.img-1;
        }
        &--img-3{
          @include variables.img-1;
        }

        &--img-01 {
          @include variables.img-01;
        }

        &--img-02 {
          @include variables.img-02;
        }

        &--img-03 {
          @include variables.img-03;
        }
      }

      &__card--h4 {
        @include variables.h4;
        text-align: center;
      }

      &__card--p {
        @include variables.p;
      }
    }
    .FAQ-container {
      @include variables.FAQ-container;
      &__h3 {
        @include variables.h3;
        top: 41.4rem;
        left: 2rem;
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -1.43px;
        text-align: center;
      }
      &__h4{
        @include variables.h4;
        text-align: center;
      }
    }
    }
  }
}


