@import "variables.scss";

@mixin media-minwidth($screensize) {
  @media (min-width: $screensize) {
    @content;
  }
}

.nav-container{
    @include media-minwidth($mobile-display){
        &__hamburger{
            background-image: url('html\images\Header\hamburger.svg');
            text-align: left;
        }
        &__h1{
            text-align: center;
        }
    }
}


