//colors
$yellow: rgb(252, 183, 43);
$dark-navy: rgb(73, 85, 103);
$dim-navy: rgb(147, 156, 170);
$light-grey: rgb(229, 236, 244);
$snow: rgb(242, 245, 249);
$light-yellow: rgb(255, 244, 223);

//Typography
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
$space-mono: "Space Mono", monospace;
$lexend-deca: "Lexend Deca", sans-serif;

// platform displays
$max-width-size: 2100px;
$desktop-display: 1440px;
$tablet-display: 768px;
$mobile-display: 375px;