//colors
$yellow: rgb(252, 183, 43);
$dark-navy: rgb(73, 85, 103);
$dim-navy: rgb(147, 156, 170);
$light-grey: rgb(229, 236, 244);
$snow: rgb(242, 245, 249);
$light-yellow: rgb(255, 244, 223);

//Typography
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
$space-mono: "Space Mono", monospace;
$lexend-deca: "Lexend Deca", sans-serif;

// platform displays
$max-width-size: 2100px;
$desktop-display: 1440px;
$tablet-display: 768px;
$mobile-display: 375px;

//Mobile
//main-about-container-mobile
@mixin about-container {
  width: 100%;
  height: auto;
  align-content: center;
}

//H1 mobile
@mixin h1 {
  font-family: $space-mono;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -2.5px;
  color: $snow
}

//advantages-container
@mixin advantages-container {
  display: flex;
  flex-direction: column;
  height: 27%;
  width: auto;
}


//advantages-container__card
@mixin advantages-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 27%;
}

//Image 1 about
@mixin img1 {
  width: 100%;
  height: auto;
}

@mixin img-arrow-1 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 130px;
  left: -5px;
  border: 1.9rem;
  align-content: center;
}

@mixin img-arrow-2 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 546px;
  left: -35px;
  border: 1.9rem;
  align-content: center;
}

//H3
@mixin h3 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 27%;
  text-align: center;
  font-size: 3rem;
  font-family: $space-mono;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -1.43px;
  color: #495567
}

//H4
@mixin h4 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 27%;
  text-align: center;
  font-family: $space-mono;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -1.07px;
  color: #495567
}

//P
@mixin p {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 27%;
  text-align: center;
  font-size: 0.9rem;
  font-family: $lexend-deca;
  font-weight: 400;
  line-height: 1.5rem;
  color:#939CAA
}

//ours-values-container
@mixin ours-values-container {
  display:flex;
  flex-direction: column;
  width: auto;
  height: 27%;
}
